/* Screen */
/* Spacing */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

#title {
  margin: 2.4rem 128px;
}

#title > h1 {
  font-size: 32pt;
}

@media (max-width: 768px) {
  #title {
    margin: 2.4rem 1.6rem;
  }
}

/* Screen */
/* Spacing */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 128px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 112px;
  max-width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000a9), to(transparent));
  background: linear-gradient(to bottom, #000000a9, transparent);
}

header > a {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 0 0 3.2rem;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
}

header nav ul li a:hover {
  opacity: 1;
}

header nav .icn-search {
  font-size: 24px;
}

header .icn-menu {
  font-size: 24px;
  color: #fff;
  display: none;
  cursor: pointer;
}

.general-header {
  background: -webkit-gradient(linear, left top, left bottom, from(#1cbbb4), to(transparent));
  background: linear-gradient(to bottom, #1cbbb4, transparent);
}

.general-header nav > ul > li > a {
  opacity: 1;
}

@media (max-width: 768px) {
  header {
    padding: 0.8rem 1.6rem;
  }
}

@media (max-width: 992px) {
  header nav {
    display: none;
  }
  header .icn-menu {
    display: block;
  }
  header .mobile-menu-visible nav {
    z-index: 1000;
    display: block;
    position: fixed;
    width: 320px;
    background: #f0f0f0;
    height: 100vh;
    top: 0;
    right: 0;
    -webkit-box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: right 2s;
    transition: right 2s;
  }
  header .mobile-menu-visible nav > ul {
    padding: 2.4rem 1.6rem;
  }
  header .mobile-menu-visible nav > ul > li {
    margin: 1.6rem 0;
    display: block;
  }
  header .mobile-menu-visible nav > ul > li > a {
    color: #000;
    opacity: 0.7;
  }
  header .mobile-menu-visible nav > ul > li > a:hover {
    opacity: 1;
  }
  header .mobile-menu-visible .icn-menu {
    color: #000;
    position: fixed;
    top: 1.6rem;
    right: 1.6rem;
    z-index: 1001;
  }
}

/* Screen */
/* Spacing */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 72px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.6rem 128px;
  border-top: 1px dashed lightgray;
}

footer .footer-links > ul {
  list-style: none;
  padding: 0;
}

footer .footer-links > ul > li {
  display: inline;
  margin-right: 1.6rem;
}

footer .footer-links > ul > li > a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
}

footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-social > span {
  color: gray;
  font-size: 13px;
  margin-left: 1.6rem;
}

footer .footer-social i {
  font-size: 32px;
  color: black;
  cursor: pointer;
}

@media (max-width: 320px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-social > span {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  footer {
    margin: 1.6rem 1.6rem;
  }
  footer .footer-links > ul > li {
    display: block;
    margin-bottom: 0.8rem;
  }
}

/* Screen */
/* Spacing */
#banner {
  height: 720px;
  background-image: url("../img/Pope.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-card {
  background-color: rgba(99, 97, 97, 0.8);
  width: 500px;
  margin-left: 128px;
}

.main-card__body {
  padding: 1.6rem;
  color: #fff;
}

.main-card__body--opinion {
  font-size: 16px;
  opacity: 0.8;
  letter-spacing: 0.4;
}

.main-card__body--title {
  font-size: 56px;
  margin: 0;
  letter-spacing: 3;
}

.main-card__body--text {
  font-size: 22px;
  opacity: 0.8;
  letter-spacing: 0.4;
}

.main-card__body--more-info > a {
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
}

.main-card__body--verdict {
  font-size: 20px;
  margin-bottom: 0;
  letter-spacing: 0.4;
}

.main-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
}

.main-card__footer > div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #fff;
}

.main-card__footer > div > i {
  font-size: 40px;
}

.main-card__footer > :first-child {
  background-color: #1cbbb4;
}

.main-card__footer > :last-child {
  background-color: #ffad1d;
}

.closing-footer {
  height: 52px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.closing-footer__text {
  position: relative;
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(66, 66, 66, 0.3);
}

.closing-footer__text > span {
  color: #fff;
  margin-right: 12px;
  font-size: 13px;
  opacity: 0.8;
  font-weight: 600;
}

.closing-footer__text::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 100%;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(66, 66, 66, 0.8);
}

.closing-footer__number {
  width: 67%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  opacity: 0.6;
  font-size: 36px;
}

.closing-footer__number > span {
  margin-left: 12px;
}

@media (max-width: 320px) {
  #banner {
    min-height: 600px;
    background-position: 80%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  #banner {
    min-height: 540px;
    background-position: 80%;
  }
}

@media (min-width: 1200px) {
  #banner {
    background-position: 5% 25%;
  }
}

@media (max-width: 768px) {
  .main-card {
    margin: auto;
    width: 90%;
  }
  .main-card__body {
    padding: 20px;
  }
  .main-card__body--opinion {
    font-size: 14px;
  }
  .main-card__body--title {
    font-size: 40px;
    margin: 0;
  }
  .main-card__body--text {
    font-size: 17px;
  }
  .main-card__body--more-info > a {
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
  }
  .main-card__body--verdict {
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: 0.4;
  }
  .main-card__footer {
    height: 56px;
  }
  .main-card__footer > div > i {
    font-size: 32px;
  }
}

/* Screen */
/* Spacing */
.counted {
  background-color: #ededed;
  margin: 2.4rem 128px;
  padding: 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counted p {
  margin: 0;
}

.counted__title p {
  white-space: nowrap;
}

.counted__title > :first-child {
  font-size: 23px;
  color: gray;
}

.counted__title > :last-child {
  font-size: 40px;
  line-height: 32px;
  font-weight: 600;
}

.counted__text {
  margin: 0 16px;
  font-size: 16px;
  color: gray;
}

.counted__icons {
  width: 64px;
  font-size: 24px;
  text-align: right;
}

.counted__icons > span {
  cursor: pointer;
}

.counted__icons > span:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .counted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2.4rem 1.6rem;
    padding-right: 40px;
    position: relative;
  }
  .counted__title {
    margin-bottom: 0.8rem;
  }
  .counted__title p {
    white-space: normal;
    word-break: break-all;
  }
  .counted__icons {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

/* Screen */
/* Spacing */
.votes {
  margin: 32px 128px;
}

.votes > h1 {
  font-size: 40px;
}

.votes > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.votes > div .votes__card {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  height: 480px;
  background-position: 0% 120%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.votes > div .votes__card .thumbs-up {
  background-color: #1cbbb4;
}

.votes > div .votes__card .thumbs-down {
  background-color: #ffad1d;
}

.votes > div .votes__card .thumbs {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.votes > div .votes__card .thumbs > i {
  font-size: 20px;
}

.votes > div .votes__card .thumbs-selected {
  border: 2px solid #fff;
}

.votes > div .votes__card .thumbs-highlighted {
  border: 2px solid lightgray;
}

.votes > div .votes__card--result {
  position: absolute;
  left: 0;
  top: 224px;
}

.votes > div .votes__card--body {
  background: -webkit-gradient(linear, left bottom, left top, from(#000000a9), color-stop(#000000a9), to(transparent));
  background: linear-gradient(to top, #000000a9, #000000a9, transparent);
  padding: 40px;
  color: #fff;
}

.votes > div .votes__card--body--title {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
}

.votes > div .votes__card--body--date-category {
  font-size: 13px;
  margin: 0;
  margin-bottom: 10px;
}

.votes > div .votes__card--body--description {
  font-size: 17px;
  line-height: 17px;
}

.votes > div .votes__card--body--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.votes > div .votes__card--body--buttons div,
.votes > div .votes__card--body--buttons button {
  margin-right: 10px;
}

.votes > div .votes__card--body--buttons button {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Lato";
}

.votes > div .votes__card--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.votes > div .votes__card--footer > div {
  height: 100%;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  color: #fff;
}

.votes > div .votes__card--footer > div > i {
  margin: 0 5px;
}

.votes > div .votes__card--footer--thumbs-up {
  width: 64%;
  background-color: #1cbbb4;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.votes > div .votes__card--footer--thumbs-down {
  width: 36%;
  background-color: #ffad1d;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.votes > div .votes__card:nth-child(n) {
  margin-right: 20px;
}

.votes > div .votes__card:nth-child(2n) {
  margin-right: 0;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .votes {
    margin: 32px 1.6rem;
  }
  .votes > div .votes__card {
    min-height: 400px;
    width: 100%;
    margin: 0;
  }
  .votes > div .votes__card--result {
    top: 164px;
  }
  .votes > div .votes__card:nth-child(n) {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .votes > div > .votes__card {
    background-position: 80%;
    min-height: 400px;
  }
}

@media (min-width: 1200px) {
  .votes > div > .votes__card {
    background-position: 10%;
    min-height: 600px;
  }
}

@media (min-width: 1400px) {
  .votes > div > .votes__card {
    background-position: 10%;
    min-height: 800px;
  }
}

/* Screen */
/* Spacing */
.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 80px;
  padding: 16px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 128px;
}

.submit ::before {
  content: "";
  background-image: url("../img/BgSubmit.png");
  background-position: 50% 45%;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.submit > p {
  font-size: 28px;
  opacity: 0.6;
  font-weight: 600;
  margin: 0;
}

.submit > button {
  font-size: 18px;
  height: 48px;
  opacity: 1;
  font-weight: 600;
  width: 200px;
  cursor: pointer;
  border: 3px solid black;
  font-family: "Lato";
}

@media (max-width: 576px) {
  .submit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .submit > button {
    margin-top: 0.8rem;
  }
}

@media (max-width: 768px) {
  .submit {
    margin: 32px 1.6rem;
  }
}
/*# sourceMappingURL=index.css.map */