<footer>
    <div class="footer-links">
        <ul>
            <li><a href="javascript:void(0)">Terms and Conditions</a></li>
            <li><a href="javascript:void(0)">Privacy Policy</a></li>
            <li><a href="javascript:void(0)">Contact Us</a></li>
        </ul>
    </div>
    <div class="footer-social" *ngIf="showSocial">
        <span>Follow Us</span>
        <span>
            <a href="https://www.facebook.com/">
                <i class="fa fa-facebook-square social-icon"></i>
            </a>
        </span>
        <span>
            <a href="https://twitter.com/">
                <i class="fa fa-twitter-square social-icon"></i>
            </a>
        </span>
    </div>
</footer>
