$shadow-color: rgb(99, 97, 97);
$thumbs-up: rgb(28, 187, 180);
$thumbs-down: rgb(255, 173, 29);

/* Screen */
$col-xs: 320px;
$col-sm: 576px;
$col-md: 768px;
$col-lg: 992px;
$col-xl: 1200px;

/* Spacing */
$space-inset-xs: 0.4rem;
$space-inset-s: 0.8rem;
$space-inset-m: 1.6rem;
$space-inset-l: 2.4rem;
$space-inset-xl: 3.2rem;

$margin-space: 128px;
$margin-space-mobile: $space-inset-m;
